/* CSS for index.css */

body {
    display: flex; /* Use flexbox to make the body flexible */
    flex-direction: column; /* Arrange child elements vertically */
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
    padding-left: 30px;
    padding-right: 30px;
}

header {
    border-top: 1px solid black; /* Adds a solid black border on the top of the header */
    border-bottom: 1px solid black; /* Adds a solid black border on the bottom of the header */
    background-color: rgb(203, 225, 244);
}

#head {
    display: flex; /* Use flexbox to align child elements */
    justify-content: space-between; /* Distribute child elements evenly across the header */
    align-items: center; /* Vertically center child elements */
}

#right {
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
}

#right h1 {
    font-size: 50px;
}

#left {
    flex: 1; /* Make the left div take up twice as much space as the right div */
    text-align: start; /* Align content to the left */
    padding-left: 10px;
}

#note {
    /* Add padding for better readability */
    font-size: 16px;
   
}
