/* General body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
}

/* Container styling for proper alignment and padding */
.container {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

/* Styling headings for better visibility */
h2.section-heading {
    background-color: #0056b3;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* Input and Label styling */
textarea,
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

label i {
    font-size: 14px;
    font-weight: lighter;
}

/* Button styles for interaction */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.buttons {
    margin-top: 20px;
    text-align: right;
}

/* Fieldset styling for visual grouping of elements */
.fieldset {
    border: 2px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    padding: 0 10px;
    font-size: larger;
    font-weight: bold;
    color: #333;
}

/* Improve spacing and appearance of sections and paragraphs */
p {
    line-height: 1.6;
    /* Improves readability by spacing lines apart */
}

/* Link styling for better visibility */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p i {
    font-size: 14px;
}

.error-message {
    color: red;
    margin-top: 5px;
}